{{> header}}

<section class="container">

  <h1 class="title">Your profile</h1>

  <article class="profile-container">

    <figure>
      <img class="icon" alt="Your profile picture" src="../public/images/profile.png"/>
    </figure>

    <div>
      <h2>Hi, {{username}}!</h2>
      <p>You can edit your information here.</p>
    </div>

  </article>

  <article class="info-editor">

    <h2>Edit your info</h2>

    <form id="signup" method="POST" action="/profile">

        <fieldset class="form-container">
            <label for id="username">Username</label>
            <input type="text" id="username" minlength="3" maxlength="20" name="username" required value="{{username}}"/>
                
                {{#if error}}
                    <div class="error-container">
                        <p class="error-message">{{error}}</p>
                    </div>
                {{/if}}

            <label for id="email">Email</label>
            <input type="email" id="email" name="email" required value="{{email}}"/>
                
                {{#if error}}
                    <div class="error-container">
                        <p class="error-message">{{error}}</p>
                    </div>
                {{/if}}

            <label for id="age">Age</label>
            <input type="number" id="age" name="age" required value="{{age}}"/>
                
                {{#if error}}
                    <div class="error-container">
                        <p class="error-message">{{error}}</p>
                    </div>
                {{/if}}

            <label for id="password">Password</label>
            <input type="password" id="password" minlength="8" maxlength="50" name="password" required value="{{password}}"/>
                
                {{#if error}}
                    <div class="error-container">
                        <p class="error-message">{{error}}</p>
                    </div>
                {{/if}}

            <input type="submit" id="submit" class="login-button" value="Edit info" />
        </fieldset>

        <input type="button" id="delete" class="delete-button" value="Delete account"/>

    </form>

  </article>

</section>

{{> footer }}